body {
  font-family: 'Open Sans', sans-serif;
}
.size-8 {
  font-size: 8px;
}
.size-10 {
  font-size: 10px;
}
.size-12 {
  font-size: 12px;
}
.size-14 {
  font-size: 14px;
}
.size-16 {
  font-size: 16px;
}
.size-18 {
  font-size: 18px;
}
.size-20 {
  font-size: 20px;
}
.size-22 {
  font-size: 22px;
}
.size-24 {
  font-size: 24px;
}
.size-26 {
  font-size: 26px;
}
.size-28 {
  font-size: 28px;
}
.size-30 {
  font-size: 30px;
}
.size-35 {
  font-size: 35px;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-semi-bold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-extra-bold {
  font-weight: 800;
}
.color-03aee6 {
  color: #03aee6;
}

.color-cd0000 {
  color: #cd0000;
}

.color-3000ff {
  color: #3000ff;
}

.color-318d46 {
  color: #318d46;
}

.color-979a8f {
  color: #979a8f;
}

.badge.badge-message {
  background-color: inherit;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.badge.badge-message span:first-child {
  display: block;
  border: 1px solid #03aee6;
  border-radius: 0;
  height: 19px;
  position: relative;
  width: auto;
  padding: 0 9px;
  text-align: center;
  font-weight: 300;
  line-height: 17px;
}
.badge.badge-message span:last-child {
  background-image: url('../images/badge-message.png');
  background-repeat: no-repeat;
  display: block;
  width: 6px;
  height: 5px;
  background-color: #f8f8f8;
  position: relative;
  top: -1px;
  left: 6px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #ffffff;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#user .fa-user {
  display: none;
}
.nav .icon-basic-magnifier {
  display: none !important;
}


/*HEADER*/
header {
  background-color: #fff;
  height: 100px;
}

header .logo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

header #user {
  text-decoration: none !important;
  color: #333333;
  margin-top: 42px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header #user>span {
  float: left;
}

header #user>span.caret {
  margin-top: 10px;
}

header #user:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

header .user-name b {
  white-space: nowrap;
  width: 72%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 13px;
}

header .search {
  margin-top: 30px;
}

header .search .form-control {
  font-size: 20px;
  font-weight: 300;
  border-color: #cccccc;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 50px;
}

header .search .fa {
  font-size: 30px;
  color: #999999;
}

header .search.right-addon input {
    padding-right: 38px;
}


header .btn-filter {
  background-color: #1684a8;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none !important;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 9991;
  width: 130px;
  text-align: center;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

header .btn-filter:hover {
  background-color: #115d76;
}

header .btn-filter .fa {
  font-size: 28px;
  margin-right: 10px;
  float: left;
}

header .btn-filter ~ .dropdown-menu {
  width: 100%;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: rgba(4, 175, 232, 0.9);
  padding: 30px 20px;
}

header .btn-filter ~ .dropdown-menu form {
  margin-top: 45px;
}

header .btn-filter ~ .dropdown-menu .form-group {
  margin-bottom: 10px;
}

header .btn-filter ~ .dropdown-menu .inner-addon .fa {
  font-size: 20px;
  color: #999999;
}

header .btn-filter ~ .dropdown-menu .form-control {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  box-shadow: none;
  border: none;
  height: 40px;
}

header .btn-filter ~ .dropdown-menu form .btn-primary {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding: 5px 12px;
  background-color: #1684a8;
  margin: 10px 0 0;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

header .btn-filter ~ .dropdown-menu form .btn-primary:hover {
  background-color: #115d76;  
}

header .label-filter {
  margin-top: 15px;
  float: right;
}

header .label-filter span {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-right: 3px;
}

header .label-filter span .fa {
  cursor: pointer;
}

header .label-filter span:last-child {
  margin-right: 0;
}

header .box-info {
  position: relative;
  z-index: 3;
  position: absolute;
  width: 100%;
  width: calc(100% - 30px);
}

header .box-info .numeros {
  background-color: #04afe8;
  text-align: center;
  padding: 21px 10px;
}

header .box-info .numeros .num {
  font-size: 45px;
  font-weight: 300;
  color: #ffffff;
  line-height: 80px;
  margin-bottom: 5px;
}

header .box-info .numeros .text {
  font-size: 22px;
  font-weight: 300;
  color: #1a5467;
  text-transform: uppercase;
}

header .box-info .data .header {
  padding: 20px 10px 0;
  background-color: #fff;
}

header .box-info h4 {
  font-size: 14px;
  font-weight: 300;
  color: #1a5467;
  text-transform: uppercase;
  margin: 0 0 10px;
}

header .box-info p {
  font-size: 16px;
  font-weight: 400;
  color: #04afe8;
  text-transform: uppercase;
  margin: 0;
}

header .box-info .bt-control {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

header .box-info .fa-chevron-circle-down {
  font-size: 16px;
  color: #04afe8;
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

header .box-info .bt-control:hover .fa {
  color: #115d76;
}

header #info {
  background-color: rgba(255, 255, 255, 0.85);
}

header #info .content {
  padding: 20px 10px 10px;
}

header #info .content p {
  font-size: 16px;
  font-weight: 300;
  color: #04afe8;
  margin: 0 0 10px;
  line-height: 24px;
}

header #info .content p:last-child {
  margin-bottom: 0;
}

header #info .content p small {
  font-size: 16px;
  text-transform: initial;
}

header #info.in~.bt-control .fa:before {
  content: "\f139";
}



/*FOOTER*/
footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

footer h4 {
  font-size: 22px;
  font-weight: 300;
  color: 3333333;
  margin: 10px 0 5px;
}

footer p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

footer p strong {
  font-size: 26px;
}

footer p b {
  font-weight: 600;
  color: #333333;
}

footer p .fa {
  font-size: 20px;
  margin-top: 10px;
}

footer .listagem {
  background-color: #666666;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding: 15px 10px;
  position: relative;
  top: 16px;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

footer .listagem:hover {
  background-color: #444444;
}

footer .listagem .fa {
  font-size: 22px;
  vertical-align: middle;
}

footer .box-listagem {
  background-color: #fff;
  position: fixed;
  z-index: 9;
  padding: 10px;
  display: none;
}

footer .box-listagem ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

footer .box-listagem ul::-webkit-scrollbar-track {background-color: #f3f3f3;}
footer .box-listagem ul::-webkit-scrollbar {width: 5px; background-color: #f3f3f3; }
footer .box-listagem ul::-webkit-scrollbar-thumb {background-color: #cccccc; }

footer .box-listagem li {
  list-style: none;
  background-color: #f3f3f3;
  padding: 20px 10px;
  margin-bottom: 10px;
}

footer .box-listagem h4 {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 10px;
}

footer .box-listagem h5 {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
  margin: 0 0 10px;
}

footer .box-listagem p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #333333;
  margin:  0 0 10px;
}

footer .box-listagem p b {
  font-weight: 600;
}





/*ASIDE*/
aside {
  background-color: #f3f3f3;
  position: fixed;
  top: 100px;
  left: 0;
  width: 60px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

aside.show {
  width: 235px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

aside::-webkit-scrollbar-track {background-color: #f3f3f3;}
aside::-webkit-scrollbar {width: 5px; background-color: #f3f3f3; }
aside::-webkit-scrollbar-thumb {background-color: #cccccc; }

aside .content {
    padding: 10px 0px 50px 15px;
}

aside.show .content {
  padding: 10px 10px 50px 15px;
}

aside h4 {
  display: none;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 0 0 20px;
}

aside.show h4 {
  display: block;
}

aside ul {
  margin: 0 0 40px;
  padding: 0;
}

aside li {
  list-style: none;
  font-size: 14px;
  font-style: 400;
  color: #333333;
  margin: 0 0 5px;
}

aside li .fa {
  font-size: 20px;
}

aside li b {
  font-weight: 600;
}

aside li span {
  display: none;
}

aside.show li span {
  display: inline-block;
}

aside h5 {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
}

aside h5 span:first-child {
  font-size: 25px;
  font-weight: 400;
}

aside h5 span:last-child {
  display: none;
}

aside.show h5 span:last-child {
  display: inline-block;
}

aside.show .fa-chevron-circle-left,
aside.show .fa-chevron-circle-right {
    text-align: right;
    display: block;
    font-size: 16px;
    color: #04afe8;
    cursor: pointer;
}

.fa-chevron-circle-left {
  cursor: pointer;
}

aside:not(.show) .fa-chevron-circle-right:before,
aside:not(.show) .fa-chevron-circle-left:before {
  content: "\f00b";
  font-size: 17px;
  color: #333333;
  margin: 16px 0 22px;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav .icon-basic-magnifier {
    display: block !important;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar div > ul {
    float: right;
  }
  .navbar div > ul > li {
    float: left;
  }
  #user {
    display: none;
  }
  #user span {
    display: none;
  }
  #user .fa-user {
    display: block;
  }
  #menu {
    padding: 15px 11px 12px;
  }
}
.container-full {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.container-full > section {
  /*width: 75%;*/
  width: 100%;
}
.box-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aside-search {
  float: left;
  width: 25%;
  background-color: #f3f3f3;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
.aside-search::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
.aside-search::-webkit-scrollbar {
  width: 5px;
  background-color: #f3f3f3;
}
.aside-search::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}
.aside-search .inner-addon {
  margin-top: 50px;
}
.aside-search .inner-addon .icon {
  font-size: 34px;
  color: #666666;
  padding: 5px 15px;
}
.aside-search .inner-addon .form-control {
  font-size: 20px;
  color: #999999;
  height: 50px;
  padding-right: 55px;
  padding-left: 30px;
  border-radius: 3px;
}
.aside-search .filter .panel-heading a {
  color: inherit;
  text-decoration: none !important;
}
@media (max-width: 768px) {
  .aside-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100% !important;
  }
  .aside-search .logo {
    display: none;
  }
  .aside-search .inner-addon {
    margin-top: 0;
  }
  .aside-search .list-group-item * {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .aside-search .row-search {
    margin-right: -45px;
    margin-left: -45px;
    margin-top: -30px;
  }
  .aside-search .inner-addon .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
  }
  .aside-search .inner-addon .icon {
    pointer-events: inherit;
  }
  .aside-search .icon-basic-magnifier {
    cursor: pointer;
  }
  .aside-search .icon-basic-magnifier:before {
    content: "\e0e1";
  }
  .aside-search .list-group h3,
  .aside-search .list-group h4,
  .aside-search .list-group p {
    font-size: 12px !important;
  }
}
section.map {
  float: left;
  position: relative;
}
section.map #map {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  section.map {
    float: none;
    width: 100%;
  }
}
.form-control:focus {
  box-shadow: none;
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon,
.inner-addon .fa,
.inner-addon .icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon,
.left-addon .fa,
.left-addon .icon {
  left: 0px;
}
.right-addon .glyphicon,
.right-addon .fa,
.right-addon .icon {
  right: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.aside-search .list-group {
  margin-top: 40px;
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 10px;
  margin-right: -10px;
}
.aside-search .list-group h3 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
.aside-search .list-group h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.aside-search .list-group p {
  font-size: 14px;
  color: #333333;
  font-weight: 300;
  line-height: 16px;
}
.aside-search .list-group p:last-child {
  margin-bottom: 0;
}
.aside-search .list-group .list-group-item {
  border-radius: 0;
  border: none;
  margin-bottom: 5px;
  padding: 20px;
}
.aside-search .list-group::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
.aside-search .list-group::-webkit-scrollbar {
  width: 5px;
  background-color: #f3f3f3;
}
.aside-search .list-group::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}
.box-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  display: none;
}
.box .box-content {
  padding: 15px;
  float: left;
  margin: 40px 15px;
  text-align: center;
  width: 100%;
  max-width: 20%;
}
.box .box-numero {
  font-size: 80px;
  font-weight: 300;
  color: #ffffff;
  line-height: 80px;
  margin-bottom: 5px;
}
.box .box-tipo {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
.box .box-total-no-mapa {
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
}
.box .box-total {
  padding-bottom: 0px;
}
.box .box-total .box-numero {
  font-size: 60px;
  line-height: 60px;
}
.box.box-obras-knauf .box-content {
  background-color: rgba(3, 174, 230, 0.85);
}
.box.box-obras-concorrentes .box-content {
  background-color: rgba(253, 140, 55, 0.85);
}
.box.box-outras-obras .box-content {
  background-color: rgba(142, 148, 155, 0.85);
}
.box.box-outras .box-content {
  background-color: rgba(255, 255, 255, 0.85);
}
.box.box-outras .box-content .box-numero {
  color: #000000;
}
@media (max-width: 1650px) {
  .box .box-content {
    margin: 40px 1% 0;
    max-width: 23%;
  }
  .box .box-total-no-mapa {
    font-size: 18px;
    margin-bottom: 0;
  }
  .box .box-tipo {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .box .box-numero {
    line-height: 59px;
    font-size: 60px;
  }
  .box .box-total .box-numero {
    font-size: 48px;
    line-height: 48px;
  }
  .box .box-total .box-tipo {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
@media (max-width: 1080px) {
  .box .box-content {
    height: 133px;
  }
  .box .box-total-no-mapa {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .box .box-content {
    margin: 10px 1%;
  }
  .box .box-numero,
  .box.box-outras .box-content .box-numero {
    font-size: 29px;
    line-height: 29px;
  }
  .box .box-tipo,
  .box .box-total-no-mapa {
    font-size: 12px;
  }
}
@media (max-width: 470px) {
  .box .box-content {
    height: auto;
  }
  .box .box-tipo,
  .box .box-total-no-mapa {
    display: none;
  }
  .box .box-total {
    padding: 15px;
  }
}
.gm-style-iw {
  width: 450px !important;
  height: 158px;
  top: -51px !important;
  left: -110px !important;
  background-color: #fff;
  border: 3px solid #04aee6;
}
.gm-style-iw div {
  display: block;
  width: 100%;
  height: 100%;
}
.gm-style-iw ~ div {
  display: none;
}
.iw-container {
  position: relative;
}
.iw-content {
  padding: 15px;
}
.iw-content h4 {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
.iw-content {
  p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
  }
}
.btn-primary {
  color: #fff;
  background-color: #03aee6;
  border-color: #03aee6;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus .btn-primary.active,
.btn-primary.hover,
.btn-primary.focus,
.btn-primary.active.focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #0588b3;
  border-color: #0588b3;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 408px;
    opacity: 1;
}
